@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Yusei Magic", sans-serif;
  font-weight: 500;
  font-style: normal;
}